<mat-sidenav-container style="width:100%">

  <mat-sidenav mode="over" position="start" [(opened)]="sidenav.sidenavTicketListToggle" class="ms-color-b-2" style="width:200px">
    <mat-toolbar style="width:100%">Tickets abiertos</mat-toolbar>
    <div>
      <button mat-button class="w3-block" style="padding-top:0.5em; text-align: left"
        *ngFor="let cart of ticketsStateManagement; let i = index">
        <mat-icon class="ms-color-icons" style="vertical-align: text-bottom">receipt</mat-icon>
        #{{ i + 1 | number: '2.'}}
      </button><br>
    </div>
  </mat-sidenav>

  <mat-sidenav mode="over" position="end" [(opened)]="sidenav.sidenavProductListToggle" class="ms-color-b-2" style="width:400px">
    <mat-toolbar style="width:100%">Lista de compras</mat-toolbar>
    <div>
      <button mat-button class="w3-block" style="padding-top:0.5em; text-align: left"
        *ngFor="let cart of ticketsStateManagement; let i = index">
        <mat-icon class="ms-color-icons" style="vertical-align: text-bottom">shopping_cart</mat-icon>
        #{{ i + 1 | number: '2.'}}
      </button><br>
    </div>

  </mat-sidenav>

  

  <mat-sidenav-content class="ms-color-b-bg" style="padding:1em">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>