<div class="w3-container w3-center" style="width:100%">
  <h4 class="ms-font-karla" style="font-size:1.3em"><strong>TICKET</strong></h4>
  <mat-toolbar class="w3-center" style="background:#2A3B4D">
    <span class="ms-fill"></span>
    <div class="w3-panel w3-white w3-border w3-center" style="width:60px; padding:0px">{{auth.userInvent.code}}</div>
    <span class="ms-fill"></span>
    <div class="w3-panel w3-white w3-border w3-center" style="width:60px; padding:0px">0001</div>
    <span class="ms-fill"></span>
  </mat-toolbar>
  <br>
  <button mat-raised-button class="w3-button ms-color-action-3" style="margin:0.2em 0.2em">Terminar ticket</button>
</div>