<h1 class="ms-font-rubik">
  <mat-icon style="vertical-align:middle" class="ms-color-icons">delete</mat-icon> Borrar documento
</h1>
<mat-dialog-content>
  <h4 class="ms-font-karla" style="font-size:1.3em">¿Realmente desea borrar <strong>{{data['name']}}?</strong></h4>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="ms-fill"></span>
  <button mat-stroked-button mat-dialog-close style="margin:0.2em 0.2em">No</button>
  <button mat-raised-button color="warn" style="margin:0.2em 0.2em" (click)="deleteDocument()">Si, borrar</button>
</mat-dialog-actions>