<mat-toolbar style="align-items:center; background:none; padding:0px">
  <mat-icon class="ms-color-icons">delete</mat-icon>
  <span class="mat-tile ms-font-rubik">Borrar documento</span>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-dialog-content class="w3-padding-large">
  <span class="mat-subheading-2">¿Realmente desea borrar el documento <strong>{{data['name']}}?</strong></span>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="ms-fill"></span>
  <button mat-stroked-button mat-dialog-close style="margin:0.2em 0.2em">No</button>
  <button mat-raised-button color="warn" style="margin:0.2em 0.2em" (click)="deleteDocument()">Si, borrar</button>
</mat-dialog-actions>