<h1 mat-dialog-title>Producto:{{data.name}} | {{data.stock}}</h1>
<div mat-dialog-content>

  <div>
    <mat-card>
      <div class="w3-row">
        <div class="w3-container w3-third ">
          <mat-form-field class="w3-block">
            <input matInput placeholder="Cantidad" type="number" class="form-control">
            <mat-hint>P/u S/. {{data.sale}}</mat-hint>
          </mat-form-field>

        </div>
        <div class="w3-container w3-third">

          <mat-form-field class="w3-block">
            <input matInput #pInicial placeholder="Precio Inicial" disabled value="HOLA" class="form-control">
          </mat-form-field>
        </div>
        <div class="w3-container w3-third">
          <mat-form-field class="w3-block">
            <input matInput placeholder="Precio Final" disabled value=#pInicial.value class="form-control">
          </mat-form-field>

        </div>
      </div>
    </mat-card>
    <div class="w3-row">
      <div class="w3-half w3-container ">
        <div class="w3-padding-48	">
          <mat-card>
            <mat-radio-button value="1">Descuento</mat-radio-button>
            <div class="w3-row">
              <div class="w3-third w3-container">
                <mat-form-field class="w3-block">
                  <input matInput placeholder="Soles" type="number">
                </mat-form-field>
              </div>
              <div class="w3-third w3-container">
                <h2>=</h2>
              </div>
              <div class="w3-third w3-container">
                <mat-form-field class="w3-block">
                  <input matInput placeholder="Porcentaje" type="number">
                </mat-form-field>
              </div>
            </div>
            <button mat-raised-button color="primary" class="w3-block">Aplicar</button>
          </mat-card>
        </div>
      </div>
      <div class="w3-half w3-container">
        <div class="w3-padding-48	">

          <mat-card>
            <mat-radio-button value="2">Promocion</mat-radio-button>
            <div class="w3-row">
              <div class="w3-third w3-container">
                <mat-form-field class="w3-block">
                  <input matInput placeholder="Soles" type="number">
                </mat-form-field>
              </div>
              <div class="w3-third w3-container">
                <h2>=</h2>
              </div>
              <div class="w3-third w3-container">
                <mat-form-field class="w3-block">
                  <input matInput placeholder="Porcentaje" type="number">
                </mat-form-field>
              </div>
            </div>

            <button mat-raised-button color="primary" class="w3-block">Aplicar</button>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" class="w3-block">Agregar al carrito</button>
</div>