<div>
  <h1 class="ms-font-rubik"><mat-icon style="vertical-align:middle" class="ms-color-icons">add_circle</mat-icon> Nuevo almacén</h1>
  <mat-divider></mat-divider>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <mat-dialog-content>

    <form (ngSubmit)="onSubmit()" id="createWarehouseForm" [formGroup]="createWarehouseFormGroup">
      
      <div class="w3-row">
        <div class="w3-half">
          <div class="w3-margin">
              <p class="ms-font-karla">Datos de almacén</p>
              <mat-form-field style="width:100%" color="accent">
                <mat-icon matPrefix class="ms-color-icons w3-margin-right">store</mat-icon>
                <input matInput type="text" placeholder="Nombre" formControlName="name" (input)="checkIfExist($event.target.value)">
                <mat-error *ngIf="!createWarehouseFormGroup.valid">
                  Campo <strong>requerido*</strong>
                </mat-error>
                <mat-hint *ngIf="alreadyExist">
                  Este almacén ya existe*
                </mat-hint>
              </mat-form-field>
        
              <mat-form-field style="width:100%" color="accent">
                <mat-icon matPrefix class="ms-color-icons w3-margin-right">location_on</mat-icon>
                <input matInput type="text" placeholder="Dirección" formControlName="address">
                <mat-error *ngIf="!createWarehouseFormGroup.valid">
                  Campo <strong>requerido*</strong>
                </mat-error>
              </mat-form-field>
          </div>
        </div>
        <div class="w3-half">
            <div class="w3-margin">
              <p class="ms-font-karla">Datos de supervisor</p>
      
              <mat-form-field style="width:100%" color="accent">
                <mat-icon matPrefix class="ms-color-icons w3-margin-right">account_circle</mat-icon>
                <input matInput type="text" placeholder="Nombre" formControlName="supName">
                <mat-error *ngIf="!createWarehouseFormGroup.valid">
                  Campo <strong>requerido*</strong>
                </mat-error>
              </mat-form-field>
        
              <mat-form-field style="width:100%" color="accent">
                <mat-icon matPrefix class="ms-color-icons w3-margin-right">account_circle</mat-icon>
                <input matInput type="text" placeholder="Apellido" formControlName="supLastname">
                <mat-error *ngIf="!createWarehouseFormGroup.valid">
                  Campo <strong>requerido*</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field style="width:100%" color="accent">
                <mat-icon matPrefix class="ms-color-icons w3-margin-right">email</mat-icon>
                <input matInput type="text" placeholder="Correo" formControlName="supEmail">
              </mat-form-field>

              <mat-form-field style="width:100%" color="accent">
                <mat-icon matPrefix class="ms-color-icons w3-margin-right">phone_iphone</mat-icon>
                <input matInput type="text" placeholder="Celular" formControlName="supPhone">
              </mat-form-field> 
          </div>
        </div>
      </div>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close color="warn" style="margin:0.2em 0.2em">Cancelar</button>
      <button mat-raised-button form="createWarehouseForm" class="ms-color-b-1" style="margin:0.2em 0.2em" [disabled]="alreadyExist || !createWarehouseFormGroup.valid">Crear</button>
    </mat-dialog-actions>
</div>