<div class="w3-container">
  <mat-dialog-content>
    <form >
      
      <div class="w3-row">
        <div class="w3-third">
          <mat-form-field style="width:100%">
            <input matInput type="number" placeholder="Correlativo final">
          </mat-form-field>
        </div>
        <div class="w3-third">
          <p>Extender a &rarr;</p>
        </div>
        <div class="w3-third">
          <mat-form-field style="width:100%">
            <input matInput type="number" placeholder="Nuevo correlativo final">
          </mat-form-field>
        </div>
      </div>
      
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close="true" color="warn">Cancelar</button>
    <button mat-raised-button class="ms-color-b-1">Extender</button>
  </mat-dialog-actions>
  
</div>
