<mat-toolbar class="mat-elevation-z4 ms-color-b-1">
  <ng-container>
    <button mat-raised-button class="ms-color-action-3 w3-margin-right" (click)="openSidenav()"><mat-icon>menu</mat-icon></button>
  </ng-container>
  <ng-container>
    <img src="../../assets/images/logo-softinvent-horizontal-white.png" alt="logo softinvent" style="height:70%">
  </ng-container>
  <span class="ms-fill"></span>
  <div style="margin-right:1em">
      <button mat-icon-button (click) = "sidenav.sidenavNotification()"><mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon></button>
  </div>
  <div class="w3-hide-small" *ngIf="auth.userInvent">
    <button mat-raised-button class="ms-font-3 ms-color-action-3" style="font-size:0.8em; border-radius:15px; color:whitesmoke" [matMenuTriggerFor]="menu">{{auth.userInvent.name}}, {{auth.userInvent.lastname}} <mat-icon>keyboard_arrow_down</mat-icon></button>
    <!--button mat-stroked-button class="ms-font-3" color="primary" style="font-size:0.8em; border-radius:15px" [matMenuTriggerFor]="menu">{{(userInfo.name === 'undefined')? '...':userInfo.name}}, {{(userInfo.lastname === 'undefined')? '...':userInfo.lastname}} <mat-icon>keyboard_arrow_down</mat-icon></button-->
    <mat-menu #menu="matMenu" class="ms-color-b-2">
      <button mat-menu-item color="accent" class="ms-font-poppins" routerLink="ms-config"><mat-icon>settings_box</mat-icon> Configuración</button>
      <button mat-menu-item color="accent" class="ms-font-poppins" (click)="auth.signOut()"><mat-icon>exit_to_app</mat-icon> Cerrar sesión</button>
      <button mat-menu-item color="accent" class="ms-font-poppins"><mat-icon>help_box</mat-icon> Ayuda</button>
      <button mat-menu-item color="accent" class="w3-small ms-font-poppins" disabled>version 1.0b</button>
    </mat-menu>
  </div>
  <div class="w3-hide-large w3-hide-medium">
    <button mat-icon-button color="primary" style="font-size:0.8em; border-radius:15px" [matMenuTriggerFor]="menuResponsive"><mat-icon>keyboard_arrow_down</mat-icon></button>
    <mat-menu #menuResponsive="matMenu" class="ms-color-b-2">
      <button mat-menu-item class="ms-font-poppins w3-border-bottom" style="margin-top:0px" disabled><mat-icon>account_circle</mat-icon>{{(auth.userInvent.name === 'undefined')? '...':auth.userInvent.name}}, {{(auth.userInvent.lastname === 'undefined')? '...':auth.userInvent.lastname}}</button>
      <button mat-menu-item class="ms-font-poppins" routerLink="ms-config"><mat-icon>settings_box</mat-icon> Configuración</button>
      <button mat-menu-item class="ms-font-poppins" (click)="auth.signOut()"><mat-icon>exit_to_app</mat-icon> Cerrar sesión</button>
      <button mat-menu-item class="ms-font-poppins"><mat-icon>help_box</mat-icon> Ayuda</button>
      <button mat-menu-item class="w3-small ms-font-poppins" disabled>version 1.1b</button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-sidenav-container style="height:92vh">
  <mat-sidenav mode="side" #sidenavLarge [(opened)]="opened" class="ms-color-b-2">
    <div class="w3-hide-small">
      <button mat-button class="w3-block" routerLink="dashboard" style="padding-top:0.8em" disabled><mat-icon class="ms-color-icons">dashboard</mat-icon> <p class="ms-font-3" style="margin: 0px 0px 0px 0px">Dashboard</p></button><br>
      <button mat-button class="w3-block" routerLink="almacenes" style="padding-top:0.5em"><mat-icon class="ms-color-icons">store</mat-icon> <p class="ms-font-3" style="margin: 0px 0px 0px 0px; color:white">Almacenes</p></button><br>
      <button mat-button class="w3-block" routerLink="terceros" style="padding-top:0.5em"><mat-icon class="ms-color-icons">supervisor_account</mat-icon> <p class="ms-font-3" style="margin: 0px 0px 0px 0px; color:white">Terceros</p></button><br>
      <button mat-button class="w3-block" routerLink="documentos" style="padding-top:0.5em"><mat-icon class="ms-color-icons">description</mat-icon> <p class="ms-font-3" style="margin: 0px 0px 0px 0px; color:white">Documentos</p></button><br>
      <button mat-button class="w3-block w3-border-bottom w3-border-pink" routerLink="productos" style="padding-top:0.5em"><mat-icon class="ms-color-icons">shopping_basket</mat-icon> <p class="ms-font-3" style="margin: 0px 0px 0px 0px; color:white">Productos</p></button><br>
      <button mat-button class="w3-block" routerLink="registrar" style="padding-top:0.5em"><mat-icon class="ms-color-icons">class</mat-icon> <p class="ms-font-3" style="margin: 0px 0px 0px 0px; color:white">Registrar</p></button><br>
      <button mat-button class="w3-block" routerLink="kardex" style="padding-top:0.5em" disabled><mat-icon class="ms-color-icons">chrome_reader_mode</mat-icon> <p class="ms-font-3" style="margin: 0px 0px 0px 0px">Kardex</p></button><br>
      <button mat-button class="w3-block" routerLink="stock" style="padding-top:0.5em"><mat-icon class="ms-color-icons">list</mat-icon> <p class="ms-font-3" style="margin: 0px 0px 0px 0px; color:white">Stock</p></button><br>
      <button mat-button class="w3-block" routerLink="historial" style="padding-top:0.5em"><mat-icon class="ms-color-icons">assignment</mat-icon> <p class="ms-font-3" style="margin: 0px 0px 0px 0px; color:white">Historial</p></button><br>
    </div>
    <div class="w3-hide-medium w3-hide-large">
      <button mat-button class="w3-block" routerLink="dashboard" style="padding-top:0.8em" disabled><mat-icon class="ms-color-icons">dashboard</mat-icon></button><br>
      <button mat-button class="w3-block" routerLink="almacenes" style="padding-top:0.5em"><mat-icon class="ms-color-icons">store</mat-icon></button><br>
      <button mat-button class="w3-block" routerLink="terceros" style="padding-top:0.5em"><mat-icon class="ms-color-icons">supervisor_account</mat-icon></button><br>
      <button mat-button class="w3-block" routerLink="documentos" style="padding-top:0.5em"><mat-icon class="ms-color-icons">description</mat-icon></button><br>
      <button mat-button class="w3-block w3-border-bottom w3-border-pink" routerLink="productos" style="padding-top:0.5em"><mat-icon class="ms-color-icons">shopping_basket</mat-icon></button><br>
      <button mat-button class="w3-block" routerLink="registrar" style="padding-top:0.5em"><mat-icon class="ms-color-icons">class</mat-icon></button><br>
      <button mat-button class="w3-block" routerLink="kardex" style="padding-top:0.5em" disabled><mat-icon class="ms-color-icons">chrome_reader_mode</mat-icon></button><br>
      <button mat-button class="w3-block" routerLink="stock" style="padding-top:0.5em"><mat-icon class="ms-color-icons">list</mat-icon></button><br>
      <button mat-button class="w3-block" routerLink="historial" style="padding-top:0.5em"><mat-icon class="ms-color-icons">assignment</mat-icon></button><br>
    </div>
    

  </mat-sidenav>

  <mat-sidenav-content class="ms-color-b-bg" style="position:static">
      <app-ms-sidenav-notifications ></app-ms-sidenav-notifications>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
