<div class="w3-section">
  <h2 class="ms-font-rubik ms-color-2b" style="font-size:1.5em;">
    <mat-icon style="vertical-align:middle; font-size: 30px; width:30px; height: 30px">format_list_bulleted
    </mat-icon>
    Lista de usuarios
  </h2>
  <button mat-raised-button class="ms-color-action-3">
    <mat-icon>add_circle</mat-icon> Crear
  </button>
  <mat-form-field color="accent" class="w3-margin-left w3-block" style="margin-right:0.5em;max-width:30vw" appearance="standard">
    <mat-label>Buscar</mat-label>
    <mat-icon matPrefix style="vertical-align:middle">search</mat-icon>
    <input matInput type="text" placeholder="Escribir..." autocomplete="off" (input)="filterData($event.target.value)">
  </mat-form-field>
  
  <div>
    <span *ngFor="let user of auth.currentDataUsers | async">
      {{user | json}}
    </span><br>
  </div>
</div>