<div class="w3-container">
  <mat-toolbar style="background:none;">
    <h2 class="mat-headline">Productos</h2>
    <span class="ms-fill"></span>
    <div class="w3-margin-right">
      <button mat-button class="w3-hide-medium w3-hide-large ms-color-action-3" matTooltip="Lista de tickets abiertos" (click)="sidenav.sidenavTicketList()">
        <mat-icon style="color:white" style="vertical-align:middle">receipt</mat-icon>
      </button>
      <button mat-button class="w3-hide-small ms-color-action-3" (click)="sidenav.sidenavTicketList()">
        <mat-icon style="color:white" style="vertical-align:middle">receipt</mat-icon> Tickets
      </button>
    </div>
    <div>
      <button mat-button class="w3-hide-medium w3-hide-large ms-color-action-3" matTooltip="Lista de carritos de compras" (click)="sidenav.sidenavProductList()">
        <mat-icon style="color:white" style="vertical-align:middle">shopping_cart</mat-icon>
      </button>
      <button mat-button class="w3-hide-small ms-color-action-3" (click)="sidenav.sidenavProductList()">
        <mat-icon style="color:white" style="vertical-align:middle">shopping_cart</mat-icon> Lista
      </button> 
    </div>
  </mat-toolbar>
  <mat-divider></mat-divider>

  <p class="mat-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti
    veniam dicta expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio
    cupiditate!</p>
  <p class="mat-body-strong">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo
    deleniti veniam dicta expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio
    cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum sequi aliquid facere illo deleniti veniam dicta
    expedita, nesciunt assumenda maiores sint magni itaque et explicabo omnis modi officia, optio cupiditate!</p>
</div>