<mat-sidenav-container style="height:92vh">
  <mat-sidenav mode="over" #sideMenu [opened]="sidenav.sidenavNotificationToggle" class="mat-elevation-z8">
    <div>
      <button mat-button
        style="padding: 0px 24px; box-shadow:none; border-radius:0px 0px 0px 0px ; width:100%; text-align:left; height:48px"
        class="w3-border-top w3-border-light-grey" 
        (click)="sidenav.saveLinkNotification('administrator');sidenav.sidenavAll()" mat-button
        routerLink="administrator">
        <mat-icon style="vertical-align:middle; margin-right:0.3em; font-weight:500">face</mat-icon>Administrador
      </button>
      <button mat-button
        style="padding: 0px 24px; box-shadow:none; border-radius:0px 0px 0px 0px ; width:100%; text-align:left; height:48px"
        class="w3-border-top w3-border-light-grey" 
        (click)="sidenav.saveLinkNotification('staff');sidenav.sidenavAll()" mat-button
        routerLink="staff">
        <mat-icon style="vertical-align:middle; margin-right:0.3em; font-weight:500">track_changes</mat-icon>Staff
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="ms-color-b-bg">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>