<div class="w3-row" style="display:flex;align-items:stretch">
  <div class="w3-col s0 m4 l4 ms-login-left w3-hide-small">
    <div class="w3-display-container ms-login-follow"  style="min-height:100vh">
      <div class="w3-display-top animated fadeInUp delay-5 slower w3-center">
        <h1 class="animated fadeInUp delay-4 w3-padding" style="font-weight: 900">Organiza, administra y mejora tus operaciones logísticas</h1>
        <br>
        <iframe width="90%" height="300px" src="https://www.youtube.com/embed/o0Pt7M0weUI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="w3-display-bottomleft ms-copyright">
      <p>Copyright &copy; 2018. <a href="http://www.meraki-s.com" target="_blank">Meraki Solutions</a></p>
    </div>
  </div>
  <div class="w3-col s12 m8 l8 w3-padding">
    <router-outlet></router-outlet>
  </div>
</div>
