<span class="mat-display-4">Angular Material typography</span>
<mat-divider></mat-divider>
<span class="mat-display-4 w3-margin-top">mat-display-4</span><br>
<span class="mat-display-3">mat-display-3</span><br>
<span class="mat-display-2">mat-display-2</span><br>
<span class="mat-display-1">mat-display-1</span><br>
<span class="mat-headline">mat-headline</span><br>
<span class="mat-title">mat-title</span><br>
<span class="mat-subheading-2">mat-subheading-2</span><br>
<span class="mat-subheading-1">mat-subheading-1</span><br>
<span class="mat-body-1">mat-body-1</span><br>
<span class="mat-body-2">mat-body-2</span><br>
<span class="mat-caption">mat-caption</span><br>