<h1 class="ms-font-rubik">
  <mat-icon style="vertical-align:middle" class="ms-color-icons">delete</mat-icon> Borrar tercero
</h1>
<mat-divider></mat-divider>

<mat-dialog-content>
  <h2 class="ms-font-karla" style="font-size:1.1em">¿Realmente desea borrar este tercero?</h2>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="ms-fill"></span>
  <button mat-stroked-button mat-dialog-close style="margin:0.2em 0.2em">No</button>
  <button mat-raised-button color="warn" style="margin:0.2em 0.2em" (click)="deleteParty()">Si, borrar</button>
</mat-dialog-actions>