<mat-sidenav-container style="height:92.5vh">
  <mat-sidenav mode="side" #sidenavLarge [(opened)]="openedMenu" class="ms-color-b-2">
    <div>
      <button mat-button class="w3-block" routerLink="dashboard" style="padding-top:0.5em; text-align: left" disabled>
        <mat-icon class="ms-color-icons" style="vertical-align: text-bottom">dashboard</mat-icon> Dashboard
      </button><br>
      <button mat-button class="w3-block" routerLink="almacenes" style="padding-top:0.5em; text-align: left">
        <mat-icon class="ms-color-icons" style="vertical-align: text-bottom">store</mat-icon> Almacenes
      </button><br>
      <button mat-button class="w3-block" routerLink="terceros" style="padding-top:0.5em; text-align: left">
        <mat-icon class="ms-color-icons" style="vertical-align: text-bottom">supervisor_account</mat-icon> Terceros
      </button><br>
      <button mat-button class="w3-block" routerLink="documentos" style="padding-top:0.5em; text-align: left">
        <mat-icon class="ms-color-icons" style="vertical-align: text-bottom">description</mat-icon> Documentos
      </button><br>
      <button mat-button class="w3-block w3-border-bottom w3-border-pink" routerLink="productos"
        style="padding-top:0.5em; text-align: left">
        <mat-icon class="ms-color-icons" style="vertical-align: text-bottom">shopping_basket</mat-icon> Productos
      </button><br>
      <button mat-button class="w3-block" routerLink="registrar" style="padding-top:0.5em; text-align: left">
        <mat-icon class="ms-color-icons" style="vertical-align: text-bottom">class</mat-icon> Registrar
      </button><br>
      <button mat-button class="w3-block" routerLink="venta" style="padding-top:0.5em; text-align: left">
        <mat-icon class="ms-color-icons" style="vertical-align: text-bottom">attach_money</mat-icon> Venta
      </button><br>
      <button mat-button class="w3-block" routerLink="ticket" style="padding-top:0.5em; text-align: left">
        <mat-icon class="ms-color-icons" style="vertical-align: text-bottom">receipt</mat-icon> Ticket
      </button><br>
      <button mat-button class="w3-block" routerLink="historial" style="padding-top:0.5em; text-align: left">
        <mat-icon class="ms-color-icons" style="vertical-align: text-bottom">history</mat-icon> Historial
      </button><br>
      <button mat-button class="w3-block" routerLink="kardex" style="padding-top:0.5em; text-align: left" disabled>
        <mat-icon class="ms-color-icons" style="vertical-align: text-bottom">chrome_reader_mode</mat-icon> Kardex
      </button><br>
      <button mat-button class="w3-block" routerLink="stock" style="padding-top:0.5em; text-align: left">
        <mat-icon class="ms-color-icons" style="vertical-align: text-bottom">list</mat-icon> Stock
      </button><br>
      <button mat-button class="w3-block" routerLink="historial" style="padding-top:0.5em; text-align: left">
        <mat-icon class="ms-color-icons" style="vertical-align: text-bottom">assignment</mat-icon> Historial
      </button><br>
    </div>

  </mat-sidenav>



  <mat-sidenav-content class="ms-color-b-bg">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>