<div class="w3-display-container" style="height:60vh">
  <div class="w3-display-middle">
    <div style="margin:20px">

      <div class="w3-center">
        <div class="w3-bar">
          <h1>Nro. de Ticket</h1>
        </div>
      </div>

      <div class="w3-center">
        <div class="w3-bar">
          <div class="w3-panel w3-white" style="width:120px">
            <h2>jk73vhj</h2>
          </div>
        </div>
      </div>

      <div class="w3-center">
        <div class="w3-bar">
          <button mat-raised-button class="w3-button w3-center ms-color-action-3"> Finalizar compra </button>
        </div>
      </div>

    </div>
  </div>
</div>